{%extends "gram/base.html"%}
{% load static %}

{% block content %}
{{block.super}}
{% for image in images %}
    <div class="row">
        <img style="width:100%;max-width:100%" class="card-img-top" src="{{image.image.url}}" class="img-responsive" alt="{{image.image_name}}">
        <p>{{image.image_name}}</p>
        <p>{{image.image_caption}}</p>
    </div>
{% endfor %}
<form class="form" action="" method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="col-md-5">
        <button type="submit" class="btn btn-sm btn-info"
            style="margin-top:14px; margin-left:-10px">Post comment</button>
    </div>
</form>
<h3>Comments</h3>
{% for comment in comments %}
<p><strong class="text-secondary">{{comment.user.user}}</strong> {{comment.comment}}</p>
{% endfor %}
{% endblock %}