{% extends 'gram/base.html' %}
{% load static %}

{% block content %}
{{block.super}}
<div class="container">
    <h1 class="text-center">Instagram Clone</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% for image in photos %}

                <div class="row">
                    <div class="responsive">
                        <div class="gram">
                            <a href="{% url 'single_image' image.id %}"><img src="{{image.image.url}}"  alt="Image" width="600" height="400"></a>
                            <div class="desc">
                                <h3><a href="{% url 'single_image' image.id %}"> {{ image.image_name }} </a></h3>
                                <form action="{% url 'like-post' %}" method="POST" >
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{image.id}}">
                                    {% if user not in image.likes.all %}
                                    <button class="btn btn-success" >like</button>
                                    {% else %}
                                    <button class="btn btn-secondary" >unlike</button>
                                    {%endif%}
                                </form>
                                <small style=" font-style: italic;">{{image.likes.all.count}}</small>
                                <p><strong>{{image.user}}</strong> {{image.image_caption}}</p>
                                <p><a href="{% url 'single_image' image.id %}">View Comments</a></p>
                                <p><a href="{% url 'comment_page' %}">Add Comment</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3"></div>
    </div>
    
</div>
{% endblock %}