{% extends 'gram/base.html' %}
{% load static %}

{% block content %}
{{block.super}}
<div class="container">
    <h1 class="text-center">Instagram Clone</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% for image in photos %}

                <div class="row">
                    <div class="responsive">
                        <div class="gram">
                            <a href="#"><img src="{{image.image.url}}"  alt="Image" width="600" height="400"></a>
                            <div class="desc">
                                <h3><a href="#"> {{ image.image_name }} </a></h3>
                                <p><strong>{{image.image_profile}}</strong> {{image.image_caption}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3"></div>
    </div>
    
</div>
{% endblock %}