{% extends 'gram/base.html' %}
    
{% block content %}
{{block.super}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{userProfile.profile_photo.url}}" class="img-responsive" alt="" width="500" height="500">
            </div>
            <div class="col-md-6">
                <h3>{{user.username}}</h3>
                <h2>Bio:</h2>
                <p>{{userProfile.bio}}</p>
            </div>
        </div>
        {% if photos %}
            <h2 class="text-center">{{user.username}}'s Posts</h2>
        {% endif %}
        {% for image in photos %}
        <a href="{% url 'single_image' image.id %}"><img src="{{image.image.url}}" width="500" height="500" style="float: left;padding: 20px;"></a>
            <!-- <p>{{image.image_name}}</p> -->
        {% endfor %}
    </div>
{% endblock %}